body{
    /*background-image: url(../image/background.PNG);*/
    background-color: rgb(51, 51, 125);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}
a:link{
       color: lawngreen;
}
a:visited{
        color: gray;
}


h1{
    background: linear-gradient(to left,skyblue,lightgreen);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p{
    background-color:crimson;
    color: aqua;
    border-style: outset;
    border-width: 5px;
    border-color: gold;
    border-radius: 10px;
    padding: 5px;
}

table{
    background-color:black;
    color: aqua;
    border-style: outset;
    border-width: 5px;
    border-color: gold;
    border-radius: 10px;
    padding: 5px;

}
#countlabel{
    color: aqua;
    display: block;
    text-align:justify;
    font-size: 50px;
}